@import "tailwindcss";

:root {
 --background: #ffffff;
  --foreground: #171717;;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
  --background: #0a0a0a;
    --foreground: #ededed;
    --color-background: linear-gradient(to bottom right, #d5edff, #1a759f, #021422);
    --color-foreground: #ffffff;
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: system-ui, sans-serif;
  margin: 0;
  min-height: 100vh;
}

.ybad {
  background: linear-gradient(to right, #0a2a4d, #629bd3, #002855);
  color: #ffffff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgb(5, 47, 87);
  text-align: center;
}